<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectEuler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <ProjectEuler.Properties.Settings>
            <setting name="Path_PrimeFile" serializeAs="String">
                <value>..\..\Resources\Primes.txt</value>
            </setting>
            <setting name="Path_OutputFile" serializeAs="String">
                <value>..\..\Resources\Output.txt</value>
            </setting>
            <setting name="Path_CommonEnglishWords" serializeAs="String">
                <value>..\..\Resources\CommonEnglishWords.txt</value>
            </setting>
            <setting name="Path_Question11Grid" serializeAs="String">
                <value>..\..\Resources\p011_grid.txt</value>
            </setting>
        </ProjectEuler.Properties.Settings>
    </applicationSettings>
</configuration>
